* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 50px);
    background-color: #2C2C2E;
}

.col {
    width: 30px;
    margin: 0 2.5px;
    border-radius: 0 0 5px 5px;
}

header {
    background-color: #1C1C1E;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    height: 50px;
}

header button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

header select {
    width: 450px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
}

#randomize {
    background-color: #0040DD;
    color: #ffffff;
}

#sort {
    background-color: #007D1B;
    color: #ffffff;
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        height: 130px;
    }

    #view {
        height: calc(100vh - 130px);
    }

    header button {
        width: 100%;
    }

    header select {
        width: 100%;
    }
}